.wrapper.addForm.closed {
  max-height: 28px;
  overflow: hidden;
}

.wrapper.addForm.open {
  overflow: hidden;
  max-height: 1000px;
}

.wrapper.addForm {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 30px;
  border-right: 3px solid gray;
  border-radius: 4px;
  padding-right: 5px;
  background-color: #F9E6CF;
  z-index: 2;
  transition: 200ms max-height ease-in;
}

.wrapper.addForm .input {
  display: flex;
  justify-content: space-between;

}

.wrapper.addForm input {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #FAC67A;
  outline: 0;
}

.wrapper.addForm .Actions {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;

}

.wrapper.addForm .addCourseForm form {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.wrapper.addForm .addCourseForm ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

.wrapper.addForm .report {
  color: #ee5454;
  text-align: left;
  font-size: 12px;
}

.wrapper.addForm .report h4 {
  margin: 0;
}

.wrapper.addForm .report p {
  margin: 0;
  line-height: 1em;
}