.form-wrapper{
    border: 1px solid #86A788;
    margin: 20px;
    padding: 10px;
    align-items: center;
    font-size: 18px;
}
.nameInput{
    all: unset;
    background-color: #FFFDEC;
    width: 90%;
    height: 30px;
    border: 2px solid #FFE2E2;
    border-radius: 10px;
    padding: 0 5px;
    margin-bottom: 7px;
}
.form-wrapper label{
    color: #86A788;
    font-weight: bold;
    
}

.submit {
    
    font-weight: bold;
    background-color: #FFE2E2;
    width: 95%;
    height: 35px;
    border: 3px solid #FFE2E2;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 15px;
}